@model SonidoEmperador.Modelos.ViewModels.ProductoVM
@using SonidoEmperador.Utilidades
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear nuevo producto";
}

<form method="post" enctype="multipart/form-data">
    @if(Model.Producto.Id !=0)
    {
        titulo = "Editar Producto";
        <input asp-for="Producto.Id" hidden/>
        <input asp-for="Producto.ImagenUrl" hidden/>
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="container">

                    <!--Campo Nombre-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre del producto</label>
                            <input asp-for="Producto.Nombre" class="form-control" />
                            <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Campo descripcion-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Descripcion del producto</label>
                            <input asp-for="Producto.Descripcion" class="form-control" />
                            <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Campo precio-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Precio del producto</label>
                            <input asp-for="Producto.Precio" class="form-control" />
                            <span asp-validation-for="Producto.Precio" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Campo Stock-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Stock del producto</label>
                            <input asp-for="Producto.Stock" class="form-control" />
                            <span asp-validation-for="Producto.Stock" class="text-danger"></span>
                        </div>
                    </div>
                    <!--Campo Imagen-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Imagen del Producto</label>
                            <input type="file" accept="image/png,image/gif,image/jpeg" 
                                    name="files" id="imagenId" class="form-control" />
                            <span asp-validation-for="Producto.ImagenUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <!--Lista categoria-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Categoria</label>
                            <select asp-for="Producto.CategoriaId" asp-items="@Model.CategoriaLista" class="form-select">
                                <option disabled selected>--Selecciona una categoia--</option>
                            </select>
                            <span asp-validation-for="Producto.CategoriaId" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Campo Requisitos adicionales-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Requisitos adicionales</label>
                            <input asp-for="Producto.RequisitosAdicionales" class="form-control" />
                            <span asp-validation-for="Producto.RequisitosAdicionales" class="text-danger"></span>
                        </div>
                    </div>


                    <!--Estado-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Estado</label>
                            <select asp-for="Producto.Estado" class="form-select">
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                            <span asp-validation-for="Producto.Estado" class="text-danger"></span>
                        </div>
                    </div>
                    <!--Botones-->
                    <br />
                    <div class="d-grid gap-2 d-md-block">
                        @if(Model.Producto.Id != 0)
                        {
                            <partial name ="_botonesActualizarYRegresar" model="Model.Producto.Id"/>
                        }
                        else
                        {
                            <button type="submit" onclick="return validarImagen()" class="btn btn-success">
                                <i class="bi bi-plus-square-fill"></i>
                                Crear
                                
                            </button>
                            <a class="btn btn-success" asp-action="Index">
                                <i class="bi bi-arrow-return-left"></i>
                                Regresar
                            </a>
                        }
                    </div>

                </div>

            </div>

            <!--Mostra-->
            <div class="col-4">
                @if(Model.Producto.Id != 0)
                {
                    <img src="@DS.ImagenRuta@Model.Producto.ImagenUrl"
                    width="100" style="border-radius:5px;border:1px solid;color:cadetblue"/>
                }

            </div>
        </div>


    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validarImagen() {
            if (document.getElementById("imagenId").value == "") {
                swal("ERROR", "Seleccione una imagen", "error");
                return false;
            }
            return true;
        }
    </script>
}

