@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">El rol de usuario no puede ingrear aqui</p>
</header>s
