
.carousel-container {
    position: relative;
    width: 100%;
}

.overlay-content {
    position: absolute;
    top: 20px; /* Ajusta según necesites */
    left: 20px; /* Ajusta según necesites */
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 10%;
    margin-left: 3em;
    max-width: 80%; /* Ajusta según necesites */
}

.text {
    margin-top: 4px;
    margin-left: 3em;
    max-width: 600px;
    color: #202124; /* Color del texto, ajusta según necesites */
    font-weight: 500;
    font-size: 1.1em; /* Ajusta según necesites */
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.boton-banner {
    margin-left: 3em;
    max-width: 40%;
}

.boton-banner {
    background-color: #202124; /* Color gris oscuro */
    color: white; /* Texto blanco */
    padding: 12px;
    border-radius: 4px; /* Bordes redondeados */
    font-weight: 600;
    border: none; /* Sin borde */
}

    .boton-banner:hover {
        background-color: #28a745; /* Color verde al pasar el cursor */
        color: white; /* Texto blanco al pasar el cursor */
    }

/* Ajustar los controles del carrusel */
.carousel-control-prev {
    /* Puedes ajustar este valor según sea necesario */
    width: 20%;
}

.carousel-control-prev {
    left: -50px; /* Mueve el botón más hacia la izquierda */
}





/* Boton de las tarjetas */

.custom-btn {
    border: 3px solid #28a745;
    border-radius: 3px;
    color: #28a745;
    font-weight:600;
    padding: 5px 65px 5px 65px;
    transition: all 0.3s ease;
}

    .custom-btn:hover {
        background-color: #28a745;
        color: white;

    }


@media (max-width: 768px) {

    .resposivo-banner-A{

        margin-bottom: 14em;
    }

    .resposivo-banner-B {
        margin-top: 7em;
    }
}
