@model SonidoEmperador.Modelos.Espesificaciones.PageList<SonidoEmperador.Modelos.Producto>
@using SonidoEmperador.Utilidades
@{
    ViewData["Title"] = "Home Page";
}

<section>
        <div class="bannerPrincipal ">
            <div class="logo-container">
            <img src="~/imagenes/componentespagina/logocha.png" alt="Logo" class="logo" />
                <p class="banner-text">
                    Explora nuestros servicios y descubre cómo podemos llevar tu evento al siguiente nivel.
                </p>
                <button class="botonBanner">Comenzar</button>
            </div>
        </div>
        <div class="divArmaFiesta fondoCuadricula_BN">
            <h1 class="titulosNaranjas">¡Arma tu fiesta ahora!</h1>
            <p class="subTitulos">¿Quieres crear una experiencia personalizada para tus invitados?</p>
            <p class="textosDescriptivos">
                Selecciona entre una variedad de opciones de sonido, iluminación, efectos especiales y DJ para adaptarla a tus
                necesidades y presupuesto.
                Nuestro equipo profesional se encargará de que cada detalle esté perfectamente sincronizado, para que tú puedas
                relajarte y disfrutar al máximo.
            </p>
            <div>
                <a href="#comenzar">Comenzar</a>
            </div>
        </div>
</section>

